@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  display: flex;
  justify-content: center;
  margin-top:100px;
  margin-left:50%;
  transform: translateX(-50%);
}

.form {
  display: flex;
  flex-direction: column;
}

.button {
  color:white;
  background: black;
  margin: 20px 0;
}
