@import './settings.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $font-text;
  font-style: italic;
}

p, a {
  font-family: $font-text;
}
