@import '../../../styles/settings.scss';

.component {
  padding: $base-size;

  h2 {
    background-color: $color-glyph;
    color: $color-glyphInvert;
    text-align: center;
  }
}

.button {
  margin: 10px;
}
