@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  display: flex;
  justify-content: space-around;
  a {
    text-decoration: none;
    border: 1px solid $color-glyph;
    padding: inherit;
    &:hover {
      background-color: $color-glyph;
      color: $color-glyphInvert;
      transition: .2s ease-in-out;
    }
  }
}
